*{
    padding: 0;
    margin: 0;
}
body{
    background: #f6f6f6;
}
.container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.logo-content{
    padding: 7%;
    padding-top: 15%;
    width: 40%;
}
.form-content{
    padding-right: 10%;
}
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf');
}
.logo-snippet{
    font-family: 'Poppins',sans-serif;
    font-size:25px;
    font-weight: 500;
    margin-left: 5.0%;
}
.logo-content img{
    width: 50%
}
.form{
    display: block;
    margin-top: 35%;
    padding: 5px;
    height: 350px;
    width: 400px;
    padding-top: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
}
.email,.phone,.submit-btn{
    width: 80%;
    margin-left: 10%;
    height: 45px;
    font-family: 'Poppins',sans-serif;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(174, 174, 174);
}
a {
    text-decoration: none;
}
.forgotten-password{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    color: #1877f2;
    font-weight: 300;
    padding-bottom: 15px;
}

.submit-btn{
    background-color: #1877f2;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;

}
hr{
    width: 80%;
    margin-left: 10%;
}
.create-account{
    position: relative;
    top: 10%;
    left: 20%;
    padding: 20px 30px;
    background-color: #42b72a;
    border-radius: 10px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: #fff;
}
.createPage{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    padding-top: 5%;
}
.createPage a{
    color: Black;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.createPage h6{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 13px;
}
footer{
    background-color: #fff;
    height: 150px;
    padding-top: 10px;
}
.upper-footer{
    width: 60%;
    margin-left: 10%;
}
.middle-footer{
    width: 80%;
    margin-left: 10%;
}

.upper-footer ul,.middle-footer ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
/* .upper-footer ul li{

} */
.upper-footer ul li a, .middle-footer ul li a{
    color: rgb(106, 106, 106);
    font-family: 'Poppins',sans-serif;
    font-size: 11px;
}
hr{
    margin-top: 10px;
    margin-left: 12%;
    background-color:rgb(106, 106, 106);
}
#third-line{
    width: 60%;
}
.copyright{
    margin-top: 20px;
    margin-left: 11%;
}
.copyright h6{
    font-family: 'Poppins',sans-serif;
    font-size: 9px;
     font-weight: 300;
}
.terms-msg{
    display: none;
}
.or-txt,.second-hr{
    display: none;
}
.second-copyright{
    display: none;
}

/*Media queries */
@media screen and (max-width: 480px) {
body{
    overflow-x: hidden;
    width: 100%;
    background-color: #fff;
}
.terms-msg{
    padding: 10px;
    background-color: rgba(61, 132, 239, 0.227);
    display: block;
    width: 100%;
}
.terms-msg p{
    font-family: 'Poppins',sans-serif;
    font-size: 10px;
}
.container{
    padding: 0;
    display: block;
    padding-left: 14%;
}
.logo-snippet{
    display: none;
}
.form{
    margin-top: 0;
    width: 90%;
    background: none;
    box-shadow: none;
    padding: 0;
}
.email,.phone,.submit-btn{
    width: 90%;
    margin-left: 5%;
    height: 30px;
    font-family: 'Poppins',sans-serif;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid rgb(174, 174, 174);
}
.logo-content img{
    width: 70%;
    margin-left: 50%;
}
.create-account {
    position: relative;
    left: 5%;
    width: 100%;
    padding: 10px 60px;
    color: rgb(2, 20, 47);
    background-color: #fff;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid rgb(2, 20, 47);
}
.submit-btn{
    width: 95%;
}
.createPage{
    display: none;
}
.or-txt{
    font-family: 'Poppins',sans-serif;
    font-size: 11px;
    display: flex;
    margin-left: 50%;
}
hr{display: none;}
#second-line,#third-line{
    display: none;
}
footer{
    display: none;
}
.second-copyright{
    display: block;
}
  } 