*{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.img-content,.form-content{
    width: 50%;
}
.form-content{
    padding-left: 30px;
}
.logo{
    width: 80%;
    align-items: center;
    justify-content: center;
    padding-left: 30%;
}
.logo img{
    width: 50%;

}
.email,.password{
    height: 25px;
    background-color: #f6f6f6;
    border: 1px solid rgb(224, 224, 224);
    width:75%;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
}
.form-container{
    border: 1px solid rgb(190, 190, 190);
    height: 390px;
    width: 55%;
    padding: 20px;  
    margin-top: 20px;
    border-radius: 5px;
}
.input-container{
    margin-top: 5%;
    width: 100%;
    padding-left: 12.5%;
}
.login{
    width: 78.5%;
    height: 35px;
    margin-top: 5%;
    border: none;
    background-color: rgb( 0, 149, 246);
    border-radius:5px;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
}
.or-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    width: 84%;
    margin-left: 10%;
}
hr {
    flex: 1;
    height: 0.5px;
    background-color: rgb(179, 179, 179);
    margin: 0 10px; 
}
.or-text {
    font-weight: bold;
    font-size: 16px; 
    color: gray;
    font-family: 'Poppins',sans-serif;
}
.facebook-sign{
    display: flex;
    justify-content: space-between;
    padding: 20px 23%;
}
.facebook-sign h2{
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    padding-top: 3%;
    color: #286FB7;
}
.forgotten{
    font-family: 'Poppins',sans-serif;
    font-size: 11px;
    margin-left: 35%;
    text-decoration: none;
    color: rgb(42, 42, 42);
}
.dhacct{
    display: flex;
    border: 1px solid rgb(190, 190, 190);
    width: 61.5%;
    margin-top: 10px;
    height: 70px;
    justify-content: center;
    align-items: center;
}
.dhacct h2{
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.dhacct a{
    font-family: 'Poppins',sans-serif;
    color: rgb( 0, 149, 246);
    text-decoration: none;
    padding-left: 10px;
    font-weight: 500;
}
.get-app{
    align-items: center;
    margin-top: 2%;
    border: 1px solid black;
    width:62%;
    height: 60px;
}
.get-app h3{
    margin-left: 25%;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 300;
}
.get-app img{
    width: 50%;
    border: 1px solid black;
}
.get-app div{
    border: 1px solid black;
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: center;
}
.img-content img{
    margin-left: 35%;
    margin-top: 5%;
}
.get-app-txt{
    font-family: 'Poppins',sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin-top: 3%;
    margin-left: 25%;
}
.store-img {
    width: 55%;
    margin-left: 5%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.store-img img {
    width: 95%; 
    padding-right:10px;
    height: 70%; 
    margin-right: 20px;
    object-fit:fill;
    border-radius: 5px;
}
footer{
    height: 40px;
    margin-top: 5%;
}
.feature-links{
    width: 80%;
    margin-left: 10%;
    padding: 30px;
}
.feature-links ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
.feature-links ul a{
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: rgb(138, 138, 138);
    text-decoration: none;
}
.copyright{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
    color: rgb(96, 96, 96);
    font-weight: 300;
    padding-bottom: 45px;
}

@media screen and (max-width:480px) {
    .img-content{
        display: none;
    }
    .form-content{
        width: 100%;
    }
    .form-container{
        width: 100%;
        border: none;
    }
    .dhacct{
        margin-left: 25%;
        border: none;
        margin-top: 1%;
    }
    .store-img{
        margin-left: 30%;
    }
    .get-app-txt{
        margin-right: 7%;
        text-align: center;
    }
    .feature-links{
        display: none;
    }
    .copyright{
        margin-left: 15%;
    }
 
}

@media (min-width:480px) and (max-width:768px) {
    .img-content{
        display: none;
    }
    .form-content{
        width: 100%;
    }
    .form-container{
        width: 100%;
        border: none;
    }
    .dhacct{
        margin-left: 25%;
        border: none;
    }
    .store-img{
        margin-left: 30%;
    }
    .get-app-txt{
        margin-right: 7%;
        text-align: center;
    }
    .feature-links{
        display: none;
    }
    .copyright{
        margin-left: 15%;
    }
}
@media (min-width: 760px) and (max-width: 990px) {
    .img-content{
        display: none;
    }
    .form-content{
        width: 100%;
    }
    .form-container{
        width: 60%;
        margin-top: 25%;
        margin-left: 20%;
        border: none;
        border: 1px solid rgb(179, 179, 179);
        }
    .dhacct{
        margin-left: 20%;
        border: none;
    }
    .store-img{
        margin-left: 25%;
    }
    .get-app-txt{
        margin-right: 20%;
        text-align: center;
    }
    .feature-links{
        display: none;
    }
    .copyright{
        margin-left: 5%;
    }
    .facebook-sign img{
        padding-left: 25%;
    }
}

@media (min-width:990px) and (max-width: 1300px) {
    #main-section{
        padding-top: 5%;
    }
    .facebook-sign{
        padding: 5% 10%;
    }
    .form-content {
        margin-left: 10%;
    }
}